.navbar {
  position: fixed;
  top: 50px;
  right: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 95px;
  font-size: 1.6rem;
  &-menu {
    background: linear-gradient(
      to right,
      rgba(gray, 0.1) 10%,
      rgba(gray, 0.5) 80%,
      rgba(gray, 0.1)
    );
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
    ul {
      justify-content: center;
      display: flex;
      gap: 70px;
      text-transform: uppercase;
      a {
        display: block;
        padding: 2rem 0;
      }
    }
  }
  .active {
    border-bottom: 2px solid white;
  }
  &-striketrought {
    height: 1px;
    flex-grow: 1;
    margin: 0 -40px 0 40px;
    background-color: #ddd;
  }
}
